* {
    margin: 0;
  }
  
  #container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  #header-container {
    color: white;
    padding: 20px;
    background-color: #6db69a;
  }
  
  .emergency-tasks {
    display: inline-block;
    height: 400px;
    margin: 56px 0;
    width: 400px;
    background: #ec8c8b;
    
  }
  
  .emergency-tasks div {
    height: 198px;
  }
  .emergency-tasks h3 {
    color: white;
    margin-top: 10px;
    padding: 10px;
    background-color: blueviolet;
  }
  
  .no-emergency-tasks {
    display: inline-block;
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 0, 0.664);
  }
  
  .no-emergency-tasks div {
    height: 198px;
  }
  
  .no-emergency-tasks h3 {
    color: white;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.76);
  }
  
  #footer-container {
    color: white;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    background-color: #023031;
  }