.super-mario {
    width: 200px;
    position: absolute;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px
  }
  
  .baloon {
      width: 150px;
      position: absolute;
      right: 900px;
      z-index: 1;
  
  }
  
  .speach {
    font-size: 12px;
    position: absolute;
    right: 920px;
    z-index: 2;
    bottom: 495px;
    
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    right: 700px;
    bottom: 350px;
  }